<%= form_for @post do |f| %>

<p><%= f.label :title %></p>
<p><%= f.text_field :title, class: "form-control" %></p>

<p><%= f.label :content %></p>
<p><%= f.text_area :content, class: "form-control", rows: 10 %></p>

<p><%= f.submit %></p>
<% end %>
